

body{
background-color: green;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.bigdog{
  line-height:30px;
  height:1000px;
  width:600px;
  float:left;
  padding:5px; 
  text-align: center;
}


.top{
margin-bottom: 100px;
display: inline;
}
.imgone{
width:400px;
height:400px;
border-radius:50%;
font-size:40px;
color:black;
text-align:center;
background:#FFCC66;
display: inline-block;
left: 50px;
border: 1px solid black;
}


div.youtube{
  float: left;
}

div.bird{
  padding: 20px;
}

div.charliebrown{
  p adding: 20px;
}
div.imgone img {
    display:block;
    margin:0 auto;
}
div.imgone img.isabella {
  margin-top:70px;
}
li{
  margin-left: 400px;
  display: inline;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
a:hover{
  color: #FFCC66;
}


