/*new stylesheet*/
body{
  background-color: green;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.top{
  display: inline;
  margin-bottom: 100px;
}

.secondtop{
  padding: 100px;
  display: inline;
  text-align: center;
}
li{
  margin-left: 400px;
  display: inline;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
a:hover{
  color: #FFCC66;
}

.columnone{
  float: left;
  display: inline-block; 
}
.columntwo{
  float: left;
  display: inline;
  padding: 40px;
}
.columnthree{
  float: left;
  padding: 20px;
}

div.circletwo{
  font-size: 20px;
  float: right;
  margin: 50px;
  width:320px;
  height:320px;
  border-radius:50%;
  color:black;
  line-height:250px;
  text-align:center;
  background:#FFCC66;
}
div.secondtop img.paint{
  margin-left: 20px;
}
div.circlethree{
  font-size: 20px;
  margin: 50px;
  width:200px;
  height:200px;
  border-radius:50%;
  color:black;
  line-height:200px;
  text-align:center;
  background:#FFCC66;
}
div.circlesix{
  font-size: 20px;
  margin: 50px;
  width:300px;
  height:300px;
  border-radius:50%;
  color:black;
  line-height:300px;
  text-align:center;
  background:#FFCC66;
}
	
