div.circles{
  width:500px;
  height:500px;
  border-radius:50%;
  font-size:40px;
  color:black;
  line-height:500px;
  text-align:center;
  background:#FFCC66;
  display: inline;
  position: fixed;
  bottom: 30px;
  left: 50px;
}
div.nav{
  font-size: 20px;
  float: right;
  margin: 50px;
  width:250px;
  height:250px;
  border-radius:50%;
  color:black;
  line-height:250px;
  text-align:center;
  background:#FFCC66;
}
div.portfolio{
  font-size: 20px;
  float: right;
  margin: 50px;
  width:250px;
  height:250px;
  border-radius:50%;
  color:black;
  line-height:250px;
  text-align:center;
  background:#FFCC66;
}
body{
  background-color: green;
  display: inline;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div.bean{
  margin:10px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: green;
}
  
button {
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
  background-color: #FFCC66;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
}
#demo{
  font-size: 30px;
}
